a {
  position: relative;
}

a::after {
  content: '';
  width: 110%;
  height: 0.4rem;
  border-radius: 999px;
  position: absolute;
  z-index: -1;
  top: 70%;
  left: -5%;
}

.red::after {
  background-color: hsl(7, 99%, 70%);
}

.yellow::after {
  background-color: hsl(51, 100%, 49%);
}